.main-container {
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 4rem;
  flex-direction: row;

  .left-container,
  .center-container,
  .right-container {
    flex: 4;
    margin: 10px;
  }
}

@media (max-width: 1000px) {
  .main-container{
    flex-direction:column;
  }
  .left-container,
  .center-container,
  .right-container {
    flex: 12;
  }
}

@media (max-width: 600px) {
  .main-container {
    margin-left: 7px;
    margin-bottom: 80px;
  }
}
