.summary-container {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: rgba(40,41,61,1);
  padding: 20px;
  height: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .title {
    align-self: center;
    margin-bottom: 3px;
    font-size: 18px;
    border-bottom: 1px solid white;
  }
  .sub-title {
    padding: 5px 0;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 1px solid white;
  }

  .services {
    display: flex;
    flex-direction: column;
    min-height: 180px;
    .service {
      font-weight: 300;
      margin: 4px 0;
    }
  }

  .date-data {
    display: flex;
    flex-direction: column;

    .date-title {
      display: flex;
      justify-content: space-between;
    }
    .hour {
      display: flex;
      justify-content: space-between;
    }
  }

  .date-warn {
    margin-top: 10px;
    p {
      margin: 5px 0;
      color: red;
    }
  }
  .confirm-data {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 30px;
  }

  .comment-box {
    display: flex;
    flex-direction: column;

    textarea {
      line-height: 22px;
      font-size: inherit;
      padding: 5px;
      overflow: scroll;
      resize: none;
    }
  }
  .login-register {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 30px;

    .btn {
      position: relative;
      align-items: center;
      border: none;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      fill: #000;
      font-size: 16px;
      font-weight: 600;
      height: 48px;
      justify-content: center;
      letter-spacing: -0.8px;
      line-height: 24px;
      outline: 0;
      padding: 0 17px;
      text-decoration: none;
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 40%;
      margin: 0;
    }

    .login-btn {
      background-color: rgba(85, 98, 235, 1);
      &:hover {

      background-color: rgba(85, 98, 235, 0.7);
        border-color: #3385ff;
        fill: #06f;
      }
      &:focus {
        background-color: rgba(85, 98, 235, 0.5);
      }
    }

    .register-btn {
      background-color: rgba(1, 139, 125, 1);
      &:hover{
      background-color: rgba(1, 139, 125, 0.7);
 border-color: #3385ff;
        fill: #06f;
      }
      &:focus{

      background-color: rgba(1, 139, 125, 0.5);
      }
    }
}}

/* CSS */
.button-58 {
  position: relative;
  align-items: center;
  background-color: rgba(85, 98, 235, 1);
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  margin: 0;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}
