.job {
  position: relative;
  width: 100%;
  min-height: 42px;
  margin-top: 8px;
  border: 1px solid rgba(85, 98, 235, 1);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #3c454c;
  }
  .desc {
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
  }
}

input[type="checkbox"]:checked ~ span{
 background-color: rgba(85, 98, 235, 1);
  color: white;
}

